@(restaurantForm: Form[models.Restaurant])

@import helper._
@import helper.twitterBootstrap._
@import com.feth.play.module.pa.controllers

@main(Messages("restaurant.title"), "restaurant") {
	<h1>@Messages("restaurant.title")</h1>
	<h2>@Messages("restaurant.new")</h2>
	
	@helper.form(action = routes.Restaurants.save(), 'class -> "form-horizontal") {

		@helper.input(restaurantForm("name"),
			'size -> 100, 
			'_label -> Messages("restaurant.name")) { (id, name, value, args) =>
				<input id="@id" name="@name" value="@value" class="form-control" />
			}

		@helper.input(restaurantForm("address"), 
			'size -> 100,
			'_label -> Messages("restaurant.address")) { (id, name, value, args) =>
				<input type="text" id="@id" name="@name" value="@value" class="form-control" />
			}

		@helper.input(restaurantForm("email"),
			'_label -> Messages("restaurant.email")) { (id, name, value, args) =>
				<input type="email" id="@id" name="@name" value="@value" class="form-control" />
			}

		@helper.input(restaurantForm("phone"),
			'_label -> Messages("restaurant.phone")) { (id, name, value, args) =>
				<input type="number" id="@id" name="@name" value="@value" class="form-control" />
			}
		
		<br>
		
		<a href="@routes.Restaurants.manager()" class="btn btn-default"><i class="glyphicon glyphicon-circle-arrow-left"></i> Manager</a>
		<button type="submit" class="btn btn-success">@Messages("app.save")</button>
	}
}