@(restaurants: List[Restaurant])

@main(Messages("restaurant.title"), "restaurant") {
    
    <h1>@Messages("restaurant.title")</h1>
    <h2>@Messages("restaurant.manager")</h2>
    
   	<div class="container-grid">
		<table class="table table-hover">
	        <thead>
	            <tr>
	                <th>Id</th>
	                <th>Name</th>
	                <th class="col-xs-2">Actions</th>
	            </tr>
	        </thead>
	        <tbody>
	            @for(values <- restaurants) {
					<tr>
		                <td>@values.getId()</td>
		                <td>@values.getName()</td>
		                <td>
		                	<a href="@routes.Restaurants.edit(values.getId())" class="btn btn-xs btn-warning glyphicon glyphicon-edit"></a>
		                	<a href="@routes.Restaurants.delete(values.getId())" class="btn btn-xs btn-danger glyphicon glyphicon-trash"></a>
		                </td>
		            </tr>
	            }
	        </body>
	    </table>
	</div>
    
    <a href="@routes.Restaurants.create()" class="btn btn-default">@Messages("restaurant.new")</a>
}
