@(voteForm: Form[models.Vote], localUser: models.User = null, restaurants: List[Restaurant])

@import helper._
@import com.feth.play.module.pa.controllers

@main(Messages("ballotBox.title"), "ballotBox") {
    
    <h1>@Messages("ballotbox.title")</h1>
    <h2>@Messages("ballotbox.vote")&#33;</h2>
    
	@helper.form(action = routes.BallotBox.save()) {
	    
        @if(voteForm.hasGlobalErrors) {
          	<p class="alert alert-danger">
	          @voteForm.globalError.message
	     	</p>
        }

	    <script type="text/javascript">
			var selectedRestaurant = null;
	    
			var selectRestaurant = function selectRestaurant(el) {
				selectedRestaurant = el;
				$(el).siblings().removeClass("active");
				$(el).addClass('active');
				$('#restaurant').val(el.dataset.id);
			}
	    </script>
	    
		<div class="list-group container-grid" style="display: block; float: left; height: auto; width: 100%;">
			@for(values <- restaurants) {
				<a href="javascript:;"
					class="list-group-item col-xs-12 col-sm-2 choices"
					onclick="selectRestaurant(this);"
					data-id="@values.getId()">
					<span class="badge">@values.voteCounter()</span>
					@values.getName()
				</a>
			}
		</div>
		
		@if(restaurants.isEmpty()) {
			<p>@Messages("ballotbox.withoutRestaurants1") 
				<a href="@routes.Restaurants.manager()">@Messages("ballotbox.here")</a>
				 @Messages("ballotbox.withoutRestaurants2")
			</p>
		}

		<input type="hidden" id="restaurant" name="restaurant.id" />
		
		<br>
		<a href="@routes.BallotBox.manager()" class="btn btn-default">@Messages("ballotbox.title")</a>		
		@if(!restaurants.isEmpty()) {
			<button type="submit" class="btn btn-success" style="margin-left: 10px;">@Messages("ballotbox.vote") <i class="glyphicon glyphicon-thumbs-up"></i></button>
		}
	}
}
