@(votes: List[Vote])

@main(Messages("ballotBox.title"), "ballotBox") {
    
    <h1>@Messages("ballotbox.title")</h1>
    <h2>@Messages("ballotbox.votes")</h2>
    
	<div class="container-grid">
	    <table class="table table-hover" class="col-xs-6">
	        <thead>
	            <tr>
	                <th>Date</th>
	                <th>Restaurant</th>
	                <th>User</th>
	            </tr>
	        </thead>
	        <tbody>
	        	@for(values <- votes) {
	        		<tr>
	        			<td>@values.getDate().format("dd MMM - hh:mm")</td>
	        			<td>@values.getRestaurant().getName()</td>
	        			<td>@values.getUser().getName()</td>
	        		</tr>
	        	} 
	        </body>
	    </table>
    </div>
    
    <a href="@routes.BallotBox.result()" class="btn btn-default">@Messages("ballotbox.result")</a>
    <a href="@routes.BallotBox.create()" class="btn btn-default">@Messages("ballotbox.vote")&#33;</a>
}
