@(winner: Winner)

@main(Messages("ballotbox.title"), "ballotBox") {
	
	<h1>@Messages("ballotbox.result")</h1>
	@if(winner != null) {
		<h2 class="text-success winner-result">@Messages("ballotbox.resultWinner")</h2>
	} else {
		<h2>@Messages("ballotbox.resultNoWinner")</h2>
	}

	<div class="container-grid">
		@if(winner != null) {
			<h3 class="winner-result">@winner.getRestaurant.getName()</h3>
			<h4 class="winner-result"><strong>@Messages("ballotbox.votes")&#58;&#32;</strong>@winner.getVotes()</h4>
		}
		
		<span class="glyphicon glyphicon-star-empty democratic-bg @if(winner != null) { winner }" aria-hidden="true"></span>
	</div>
	
	@if(winner == null) {
		<a href="@routes.BallotBox.create()" class="btn btn-default">@Messages("ballotbox.vote")</a>
	}
}
