
@main(Messages("playauthenticate.index.title")) {
	<style>
		.jdemocratic-logo {
			float: right;
			padding: 15px;
		    font-size: 100px;
		    opacity: 0.4;
		    filter: alpha(opacity=40);
       		z-index: 1;
       	}
	</style>

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>@Messages("playauthenticate.index.intro")<i class="glyphicon glyphicon-bullhorn jdemocratic-logo"></i></h1>
        <p>@Messages("playauthenticate.index.intro_2")<br/>Check the topics below to know how to use me.</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <h2>Rules!</h2>
          <ul>
          	<li>You need to vote until 11:45 AM, after that, just in the next day</li>
          	<li>The selected restaurant can be the winner just once a week</li>
          	<li>And of corse, you can vote just once a day &#59;D</li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-4">
          <h2>Don't be shy</h2>
          <p>Vote! and if your choice it's not the selected one, enjoy your friends.</p>
       </div>
        <div class="col-xs-6 col-sm-4">
          <h2>Did you found a bug?</h2>
          <p>If you had found a bug, please let me know, sending an e-mail to <a href="developer&#64;jdemocratic.solution">developer&#64;jdemocratic.solution</a>
          	or opening an issue at bitbucket.com.
          </p>
          <p><a class="btn" href="https://bitbucket.org/leonardo_pmascarenhas/jdemocratic"><i class="glyphicon glyphicon-tasks" style="padding-right: 5px;"></i>&#32;Bitbucket repository</a></p>
        </div>
      </div>
    }
